<virtual-class-frontend-shared-layout-header>

  <ng-container logo>
    <h2 class="link">
      <a routerLink="."
         fxLayout="column"
         data-test-id="landingPage"
         fxLayoutAlign="center"
         matTooltip="Home">
        Virtual Class
      </a>
    </h2>

  </ng-container>

  <ng-container right-section>

    <div fxLayout
         fxLayoutAlign="end center"
         fxLayoutGap="8px">
      <button mat-icon-button
              aria-label="logOut"
              matTooltip="logout"
              (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </ng-container>

</virtual-class-frontend-shared-layout-header>
