html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-text {
  cursor: text !important;
}

.pointer-events {
  pointer-events: none;
}

.yyy * {
  outline: 1px solid red;
}


.mat-badge-small .mat-badge-content {
  width: auto;
  border-radius: 0;
  left: -4px !important;
  top: -4px !important;

}
